{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'estilosGlobales.css' %}">
    </head>
<body>

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        {% for x in mismiembros %}
            <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.Nombre }}</td>
            <td>{{ x.Apellido }}</td>
            </tr>
        {% endfor %}
    </table>

<p>Recogemos el nombre de los miembros </p>

</body>
</html>